

/* general css */
body{
    padding: 0;
    margin: 0;
 
    overflow-x: hidden;
}
.size-12{
    font-size: 12px;
}
.size-16{
    font-size: 16px;
}
.size-18{
    font-size: 18px;
}
.size-20{
    font-size: 20px;
}
.size-24{
    font-size: 24px;
}
.red-1{
    color: rgb(153, 28, 28);
}
.red-2{
    color: rgb(105, 9, 9);
    
}
.red-3{
    color: rgb(143, 6, 6);
}
.bg-red-1{
    background-color: rgb(153, 28, 28);
}
.bg-red-2{
    background-color: rgb(105, 9, 9);
    
}
.bgred-3{
    background-color: rgb(143, 6, 6);
}
.grey-1{
    color: rgb(105, 101, 101);
}
.grey-2{
    color: rgb(63, 61, 61);
    
}
.grey-3{
    color: rgb(39, 36, 36);
}
.bg-grey-1{
    background-color: rgb(105, 101, 101);
}
.bg-grey-2{
    background-color: rgb(63, 61, 61);
    
}
.bg-grey-3{
    background-color: rgb(39, 36, 36);
}
.serif{
    font-family: serif;
}
.width-50{
    width: 100%;
}
.width-501{
    width: 100%;

}
.width-25{
    width:25%;
}
.width-60{
    width: 100%;
}
.width-75{
    width: 100%;
}
.width-80{
    width: 100%;
}
.width-100{
    width: 100%;
}

/* end general css */



/* spesific css */
#heading{
    background-image: url("../assets/images/Hero_Image.jpg") ;
    width: 100%;
    height:fit-content;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}
.humbg-sector img, .heading .row .col-sm-6 img, .button1 , .button2{
    cursor: pointer;
}
.cont1{
    justify-content: space-between;
}
.space{
    padding: 26px;
}
.name{
    padding-top: 8%;
    font-size:60px;
}
.circle{
    width: 20px;
    height: 20px;
    background: white;
    border-radius:10px ;
}
.oval{
    
    width: 70px;
    height: 20px;
    background: white;
    border-radius:10px ;
}
.col-sm-9{
    height: 20vh;
    overflow: hidden;
}
.navigation{  
    
    border-bottom: 2px solid #F32028;
    background: rgb(32, 31, 31);
    height: fit-content;
    
}


.col-sm-2:hover, .active{
    width: 100%;
	transform: skew(-20deg);
	background:#F32028 ;
    cursor: pointer;
    height: 50vh;
   
}
.cont3{
    height: fit-content;
    background: #0D0D0D;
   
}
.f1{
    border-radius: 15px;
    
}
.button3{
    background-color: #F32028;
   
}
.bg-transparent{
    background: #0D0D0D;
}
.card-btn{
    width: fit-content;
   border-radius: 30px ;
 border: 3px solid white;
}
.btn-outline-white{
    border: 7px solid white;
}
hr{
    height: 1px;
}


.footer{
    background: #0F131F;
    height: fit-content;
}
.banners{
    width: 110%;
    
}
.width-15{
    width: 15%;
    font-size: 100%;
}
.banner{
    overflow-x:hidden ;
}

ul{
    list-style-type: none;
}
.footer-image{
    background-image: url('../assets/images/Footer\ Deco.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px 600px;
    height: fit-content;
}
/* end spesific css */

/* medias */
@media  (max-width: 768px) {
    .humbg-sector img{
        width: 50px;
    }
    .col-sm-9{
        height: fit-content;
       
    }
    body{
        overflow-x: hidden;
    }
    #heading{
        background-image: url("../assets/images/Hero_Image.jpg") ;
        width: 100%;
        height: fit-content;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .space{
        padding: 12px;
    }
    .circle{
        width: 10px;
        height: 10px;
        background: white;
        border-radius:5px ;
    }
    
    .col-sm-2:hover, .active{
        width: 100%;
        transform: skew(-20deg);
        background:#F32028 ;
        cursor: pointer;
        height: 18vh;
       
    }
    .oval{
        
        width: 50px;
        height: 10px;
        background: white;
        border-radius:5px ;
    }
    .name{
        padding-top: 8%;
        font-size:60px;
    }
    .footer-image{
        background-image: url('../assets/images/Footer\ Deco.png');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 300px 1700px;
        height: fit-content;
    }
    
.banners{
    width: 120%;
}
}
/* end medias */